.loginWrap{
    background-image:url(../font/login-bg.04425a08.png);
    background-size: over;
    background-position:center center;
    height:auto;
}

.loginWrap-left{
    float: left;
    padding-top:200px;
    h2{
        font-size: 106px;
        color: #fff;
        letter-spacing: 5.25px;
        line-height:98px;
    }
    p{
        font-size: 18px;
        color: #fff;
        letter-spacing: 0.83px;
        line-height:59px;
    }
}
.loginWrap-right{
    float: left;
    padding:200px 0 200px 50px;
    .loginbox{
        background:#fff;
        box-shadow: 0px 2px 54px 0px rgba(0, 21, 30, 0.16);
        border-radius: 8px;
        width: 460px;
        height:530px;
        padding:76px;
        .login-logo{
            text-align: center;
            .logo-icon{
                font-size: 100px;
            }
        }
        ul{
            list-style: none;
        }
        .checkcodebtn{
            width: 88px;
            height: 34px;
            display: inline-block;
            border:1px solid #E3E0E0;
            font-size: 14px;
            color:#ff5065;
            // letter-spacing: 0.37px;
            line-height: 34px;
            text-align: center;
            &.active{
                color:#333;
            }
        }
        .loginbtn{
            margin-left:30px;
            color:#fff;
            line-height: 40px;
            font-size: 20px;
            width: 220px;
            height: 40px;
            border:0;
            outline: none;
            background:skyblue;
            border-radius: 15px;
        }
    }
}